<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">Pizza Delivery Service</span>
        </section>

        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <a href="/sign-in" class="mdc-button mdc-button--unelevated">
                <i class="material-icons mdc-button__icon" aria-hidden="true">exit_to_app</i>
                Sign In
            </a>
            <a href="/sign-up" class="mdc-button mdc-button--unelevated">
                <i class="material-icons mdc-button__icon" aria-hidden="true">person</i>
                Sign Up
            </a>
        </section>
    </div>
</header>