<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">Pizza Delivery Service</span>
        </section>

        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <a href="/profile" class="mdc-button mdc-button--unelevated">
                <i class="material-icons mdc-button__icon" aria-hidden="true">person</i>
                Profile
            </a>
            <a href="/orders" class="mdc-button mdc-button--unelevated">
                <i class="material-icons mdc-button__icon" aria-hidden="true">shopping_basket</i>
                Your orders
            </a>
            <a href="/carts" class="mdc-button mdc-button--unelevated">
                <i class="material-icons mdc-button__icon" aria-hidden="true">shopping_cart</i>
                Shopping cart
            </a>
            <a href="/logout" class="mdc-button mdc-button--unelevated">
                <i class="material-icons mdc-button__icon" aria-hidden="true">exit_to_app</i>
                Logout
            </a>
        </section>
    </div>
</header>