<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a href="/" class="material-icons mdc-top-app-bar__navigation-icon">arrow_back</a>
            <span class="mdc-top-app-bar__title">{{ header }}</span>
        </section>

        <form method="post" action="/orders" class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <button type="submit" class="mdc-button mdc-button--unelevated">
                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                Checkout
            </button>
            <a href="/logout" class="mdc-button mdc-button--unelevated">
                <i class="material-icons mdc-button__icon" aria-hidden="true">exit_to_app</i>
                Logout
            </a>
        </form>
    </div>
</header>