<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a href="/" class="material-icons mdc-top-app-bar__navigation-icon">arrow_back</a>
            <span class="mdc-top-app-bar__title">{{ header }}</span>
        </section>

        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <a href="{{ headerLink }}" class="mdc-button mdc-button--unelevated">
                <i class="material-icons mdc-button__icon" aria-hidden="true">person</i>
                {{ headerLinkLabel }}
            </a>
        </section>
    </div>
</header>