<!doctype html>
<html lang="en">
<head>
    <!-- include: includes/head.html -->
</head>
<body>
    <!-- include: includes/header-logged-out.html -->

    <main class="content-wrap mdc-top-app-bar--fixed-adjust content-wrap_align-center">
        <div class="mdc-typography">
            <h1 class="mdc-typography--headline3 center">Welcome to Pizza Deliver Service</h1>
            <h2 class="mdc-typography--headline4 center">This services required authorization</h2>
            <h3 class="mdc-typography--headline5 center">To proceed you can
                <a href="/sign-in" class="mdc-button">Sign In</a> or
                <a href="/sign-up" class="mdc-button">Sign Up</a>
            </h3>
        </div>
    </main>

    <!-- include: includes/scripts.html -->
</body>
</html>