<!doctype html>
<html lang="en">
<head>
    <!-- include: includes/head.html -->
</head>
<body>
    <!-- include: includes/header-profile.html -->

    <main class="content-wrap mdc-top-app-bar--fixed-adjust content-wrap_align-center">
        <div class="mdc-typography">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Status</th>
                        <th>Items</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- loop:list: includes/order-item.html -->
                </tbody>
            </table>

        </div>

    </main>

    <!-- include: includes/scripts.html -->
</body>
</html>