<!doctype html>
<html lang="en">
<head>
    <!-- include: includes/head.html -->
</head>
<body>
    <!-- include: includes/header.html -->

    <main class="content-wrap mdc-top-app-bar--fixed-adjust content-wrap_align-center">
        <div class="mdc-typography">
            <h2 class="mdc-typography--headline4 center">Your credit card successfully charged</h2>
            <h3 class="mdc-typography--headline5 center">You can see the list of your <a href="/orders" class="mdc-button">orders</a> or go to the
                <a href="/" class="mdc-button">home </a> page</h3>
        </div>

    </main>

    <!-- include: includes/scripts.html -->
</body>
</html>